body {
    background-image: url(images/background.jpg);
    backdrop-filter: blur(4px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.category {
    background-color: #0000008f;
    color: white;
    border: none;
}

.category.active {
    background-color: #000000;
}

.category:hover {
    background-color: black;
}

.btnname {
    background-color: #0000008f;
    color: white;
    border: none;
    transition: background-color 0.2s ease;
}

.btnname:hover {
    background-color: #000000;
}

.btnname:active {
    background-color: #000000;
}

#male {
    background-color: black;
    border: none;
}

#female {
    background-color: black;
    border: none;
}


#bibliothequeassets img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#bibliothequeassets img:hover {
    transform: scale(1.1);
}

#bibliothequeassets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid grey;
    border-radius: 30px;
    padding: 15px;
    background-color: #0000008f;
}



.bibliotheque {
    position: relative;
    width: 300px;
    height: 400px;
    margin: auto;
    border: 2px solid grey;
    border-radius: 30px;
    background-color: #0000008f;
}


.assetsperso {
    position: absolute;
}

#faceassets {
    top: 40%;
    transform: translate(-50%, -50%);
}

#hairassets {
    top: 50%;
    transform: translate(-50%, -50%);
}

#shirtassets {
    top: 55%;
    transform: translateX(-50%);
}

#skinassets {
    top: 40%;
    transform: translate(-50%, -50%);
}






