body {
    background-image: url(images/background.jpg);
    backdrop-filter: blur(4px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.option-btn {
    background-color: #0000008f;
    color: white;
    border: none;
}

.option-btn.active {
    background-color: #000000;
}

.option-btn:hover {
    background-color: black;
}

.btn-randomize {
    background-color: #0000008f;
    color: white;
    border: none;
    transition: background-color 0.2s ease;
}

.btn-randomize:hover {
    background-color: #000000;
}

.btn-randomize:active {
    background-color: #000000;
}



#selection-area img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#selection-area img:hover {
    transform: scale(1.1);
}

#selection-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid grey;
    border-radius: 30px;
    padding: 15px;
    background-color: #0000008f;
}



.character-layer-container {
    position: relative;
    width: 300px;
    height: 400px;
    margin: auto;
    border: 2px solid grey;
    border-radius: 30px;
    background-color: #0000008f;
}


.character-layer {
    position: absolute;
}

#face-layer {
    top: 40%;
    transform: translate(-50%, -50%);
}

#hair-layer {
    top: 50%;
    transform: translate(-50%, -50%);
}

#shirt-layer {
    top: 55%;
    transform: translateX(-50%);
}

#skin-layer {
    top: 40%;
    transform: translate(-50%, -50%);
}






